@import "../../node_modules/tailwindcss/dist/lib.d.mts";

:root {
    --hover-color: #F37321;
    --gray: #99A1AF;
    --gray-two: #E4EAEE;
    --menu-color: #6B7280;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'iranyekan' !important;
    direction: rtl;
}

.c-container {
    margin-inline: auto;
    max-width: 1280px;
}

a, button {
    cursor: pointer !important;
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 400;
    src: url('../IRANYekan/Farsi_numerals/WebFonts/fonts/eot/iranyekanwebmediumfanum.eot'); /* EOT format */
    src: url('../IRANYekan/Farsi_numerals/WebFonts/fonts/woff/iranyekanwebmediumfanum.woff') format('woff'), /* WOFF format */ url('../IRANYekan/Farsi_numerals/WebFonts/fonts/ttf/iranyekanwebmediumfanum.ttf') format('truetype'); /* TTF format */
}


/*s-main*/
.s-main {
    background: url("../img/bg-main2.png") no-repeat center center;
    background-size: cover;

    .btn-tab-mobi {
        background: #fff;
        border-radius: 12px;
        height: 48px;
        padding-inline: 12px;
        border: 1px solid #008A8C;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .active-tab {
        background: #008A8C;
        color: white;
        border-radius: 12px;
        height: 48px;
        padding-inline: 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            path {
                stroke: white;
            }
        }
    }
}

.text-dark {
    color: #18181B;
}

.box-tour {
    box-shadow: 0 0 12px 2px #00000059;

    .bg-box-tour {
        background: linear-gradient(180deg, rgba(24, 28, 71, 0.16) 0%, #141F37 100%);
    }
}

.box-blog, .box-visa {
    .bg-box-blog, .bg-box-visa {
        background: linear-gradient(180deg, rgba(24, 28, 71, 0.16) 0%, #141F37 100%);
    }
}

.thumbnail-tour {
    box-shadow: 0 0 16px 0 #00000040;
    border: 1px solid #a1a1aa;
}

.s-category-tour {
    background: url("../img/bg-category-tour.jpg") no-repeat center center;
    background-size: cover;

    .title-category-tour {
        border-radius: 0 0 0 8px;
    }
}

.swiper-category-tour {
    padding: 3rem 0 !important;

    .swiper-slide-active {
    }

    .swiper-slide {
        transition: 0.5s ease;
        filter: brightness(0.7);
    }
}

.swiper-category-tour .swiper-slide-thumb-active {
    transition: 0.5s ease;
    margin-inline: 3rem !important;
    scale: 1.2;
    filter: brightness(1) !important;
}

.swiper-pagination-category-tour {
    width: auto !important;

    .swiper-pagination-bullet {
        padding: 5px !important;
        background: #A1A1AA;
    }

    .swiper-pagination-bullet-active {
        background: white !important;
    }
}

.swiper-scrollbar-category-tour, .swiper-scrollbar-visa {
    width: 40% !important;
    position: unset !important;

    .swiper-scrollbar-drag {
        background: #008A8C !important;
    }
}

.s-single-img {
    background: url("../img/bg-main.png") no-repeat center center fixed;
    background-size: cover;
    height: 320px;

}

.s-footer {
    background: url("../img/bg-footer.jpg") no-repeat center center;
    background-size: cover;
}